apiVersion: apps/v1
kind: Deployment
metadata: 
  name: mydeploy
  labels: 
    app: myapp
    env: devops
spec: 
  replicas: 2
  strategy: 
    type: RollingUpdate
    rollingUpdate: 
      maxSurge: 2
      maxUnavailable: 0
  selector: 
    matchLabels: 
      app: myapp
  template: 
    metadata: 
      name: mydeploy-pod
      labels: 
        app: myapp
        env: devops
    spec: 
      containers: 
        - name: mycontainer
          image: nginx:latest 
          ports: 
            - name: mydeployport
              containerPort: 80
...
---
apiVersion: v1
kind: Service
metadata: 
  name: mydeploy-svc
  labels: 
    app: myapp
    env: devops
spec: 
  type: NodePort
  selector: 
    app: myapp
  ports: 
    - name: mydeploysvc
      protocol: TCP
      port: 80
      targetPort: 80
