apiVersion: v1
kind: Service
metadata:
  name: mysql
  labels:
    app: myapp
    env: devops
spec:
  clusterIP: None
  selector:
    app: myapp
  ports:
    - name: mysql
      protocol: TCP
      port: 3306
      targetPort: 3306
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: my-ss
  labels:
    app: myapp
    env: devops
spec:
  serviceName: mysql
  replicas: 1
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      name: myss-pod
      labels:
        app: myapp
        env: devops
    spec:
      containers:
        - name: mysql
          image: mysql:5.7
          ports:
            - name: mysql
              containerPort: 3306

          env:
            - name: MYSQL_ROOT_PASSWORD
              valueFrom: 
                configMapKeyRef: 
                  name: my-config
                  key: MYSQL_ROOT_PASSWORD

            - name: MYSQL_USER
              valueFrom: 
                configMapKeyRef: 
                  name: my-config
                  key: MYSQL_USER

          volumeMounts:
            - name: mysql-data
              mountPath: /var/lib/mysql

  volumeClaimTemplates:
    - metadata:
        name: mysql-data
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: 5Gi

