apiVersion: apps/v1
kind: Deployment
metadata: 
  name: apache-deployment
  labels: 
    app: apache
    env: devops
  namespace: apache
spec: 
  replicas: 1
  selector: 
    matchLabels: 
      app: apache
  template: 
    metadata: 
      name: apache-pod
      labels: 
        app: apache
        env: devops
    spec: 
      containers: 
        - name: apache-container
          image: nginx:latest 
          ports: 
            - name: myport
              containerPort: 80
          resources: 
            requests: 
              cpu: 100m
              memory: 128Mi
            limits: 
              cpu: 200m
              memory: 256Mi

