apiVersion: v1
kind: Service
metadata:
  name: myservice
  labels:
    app: apache
  namespace: apache
spec:
  type: NodePort
  selector:
    app: apache
  ports:
    - name: serviceport
      protocol: TCP
      port: 80
      targetPort: 80
