apiVersion: v1
kind: Service
metadata: 
  name: apache-service
  labels: 
    app: apache
  namespace: apache
spec:  
  type: NodePort
  selector: 
    app: apache
  ports: 
    - port: 80
      targetPort: 80
