apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-deploy
  namespace: nodeaffinity
  labels:
    app: myapp
    env: devops
spec:
  replicas: 1
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
        env: devops
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: type
                operator: In
                values:
                - frontend
      containers:
      - name: mycontainer
        image: nginx:latest
        ports:
        - containerPort: 80
